<header id="header-div" class="tony-header-fixed">

    <div class="header-div1">
        <a href="{{ .Site.BaseURL }}" style="display:inline-block;">
            <img src="{{ .Site.Params.siteLogo | relURL}}">
        </a>

        {{ if .Site.Params.enableSearch }}
            <a id="search-btn">
    <span class="icon-search"><i class="ri-search-line"></i></span>
</a>

<div id="fastSearch">
    <input id="searchInput" tabindex="0">
    <ul id="searchResults">
    </ul>
</div>
        {{ end }}
<script src="/js/fuse.min.js"></script> <!-- download and copy over fuse.min.js file from fusejs.io -->
<script src="/js/fastsearch.js"></script>
    </div>
    {{ partial "menu.html" . }}
</header>
